nav {
    /* background-color: aqua; */
    /* border: 1px solid red; */
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-size: 16px;

}

.nav-content {
    font-style: medium;
    font-weight: 500;
    display: flex;
    padding: 18px 346px;
    gap: 32px;
}

nav button {
    color: white;
    font-style: Semi Bold;
    font-weight: 600;
    padding: 12px 16px;
    height: 44px;
    width: 164px;
    background-color: #35975E;
    border: none;
    border-radius: 4px;
}

nav img {
    height: 60px;
    width: 139px;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
}


.banner-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-badge {
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 8px 12px;
    margin-bottom: 16px;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    background: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1000px;

    font-size: 14px;
    color: #7cf2a5;
}

.banner-content {
    position: relative;
    z-index: 1;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;
}


.banner-content h2 {
    font-family: Inter;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
}

.banner-content span {
    color: #2bd576;
}

.banner-text {
    margin-top: 16px;
    font-family: Inter;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 24px;
    text-align: center;
}

.banner-buttons {
    margin-top: 32px;
    display: flex;
    gap: 16px;
}

.primary-btn {
    padding: 14px 28px;
    background-color: #35975E;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary-btn {
    padding: 14px 28px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    font-weight: 600;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-section {
    padding: 0px 120px;
    background-color: white;
}

.info-container {
    margin: auto;
    text-align: center;
}

.info-container h2 {
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: black;
    margin-bottom: 12px;
}

.info-container p {
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    color: gray;
    max-width: 700px;
    margin: auto;
}

.problem-section {
    width: auto;
    height: 200px;
    padding: 80px 24px;
    background-color: #ffffff;
}

.problem-container {
    max-width: 1100px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.problem-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 40px 24px;
    text-align: center;

    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-circle {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;

    background-color: #ef4444;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle img {
    width: 20px;
    height: 20px;
}

.problem-card h3 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    color: #0f172a;

    margin-bottom: 10px;
}

.problem-card p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    color: #64748b;
    line-height: 1.6;

    max-width: 220px;
}


.solution-section {
    width: auto;
    padding: 120px 120px;
    background-color: white;
}


.solution-container {
    height: 600px;
    margin: 0 auto;

    display: flex;
    gap: 60px;
    align-items: center;
}


.solution-image {
    display: flex;
    justify-content: center;
}

.solution-image img {
    width: 600px;
    height: 600px;
}


.solution-label {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    color: #22c55e;
}

.solution-content h2 {
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    color: black;
    margin: 16px 0px;
}

.solution-image,
.solution-content {
    flex: 1;
}

.solution-desc {
    font-family: Inter;
    font-size: 16px;
    color: gray;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
}

.solution-list {
    font-family: Inter;
    color: black;
    font-weight: 500;
    padding: 0;
    align-items: center;
}

.solution-list li {
    display: flex;
    gap: 6px;
    margin-bottom: 16px;

}

.check-icon {
    width: 20px;
    height: 20px;
}

.eas-section {
    font-family: Inter;
    width: auto;
    height: 506px;
    padding: 0 24px;
    background-color: white;
}


.eas-container {
    max-width: 1360px;
    background-color: #F7F6F2;
    padding: 80px 40px;
    margin: 0 120px;
    text-align: center;
    border-radius: 12px;
    margin: 0px 120px 120px 120px;
}

.eas-title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    color: #0f172a;
    margin-bottom: 12px;
}

.eas-text {
    font-family: Inter;
    font-size: 16px;
    color: #475569;
    line-height: 1.6;
    margin-bottom: 32px;
}

.eas-note {
    margin-top: 16px;
    font-size: 16px;
    color: #64748b;
}

.eas-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin: 24px;
    padding: 16px 16px;
    background-color: #35975E;
    color: #ffffff;

    border: none;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.eas-btn img {
    width: 16px;
    height: 16px;
}

.footer {
    font-family: Inter;
    width: 100%;
    background-color: #001a39;
   
    color: #cbd5e1;
}

.footer-container {
    max-width: auto;
    margin: 0 auto;
    padding: 120px 120px 30px 120px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 40px;
    border-bottom: 1px solid gray;
}

.footer-social p {
    font-size: 20px;
    margin-bottom: 8px;
    color: whitesmoke;
}

.social-icons {
    display: flex;
    gap: 16px;
}

.social-icons img {
    width: 20px;
    height: 20px;

}


.footer-bottom {
    text-align: center;
    padding-top: 24px;

    font-size: 13px;
    color: whitesmoke;
}