nav {
    /* background-color: aqua; */
    /* border: 1px solid red; */
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-size: 16px;

}

.nav-content {
    font-style: medium;
    font-weight: 500;
    display: flex;
    padding: 18px 346px;
    gap: 32px;
}

nav button {
    color: white;
    font-style: Semi Bold;
    font-weight: 600;
    padding: 12px 16px;
    height: 44px;
    width: 164px;
    background-color: #35975E;
    border: none;
    border-radius: 4px;
}

nav img {
    height: 60px;
    width: 139px;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
}


.banner-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-badge {
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 8px 12px;
    margin-bottom: 16px;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    background: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 999px;

    font-size: 14px;
    color: #7cf2a5;
}

.banner-content {
    position: relative;
    z-index: 1;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;
}


.banner-content h2 {
    font-family: Inter;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
}

.banner-content span {
    color: #2bd576;
}

.banner-text {
    margin-top: 16px;
    font-family: Inter;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 24px;
    text-align: center;
}

.banner-buttons {
    margin-top: 32px;
    display: flex;
    gap: 16px;
}

.primary-btn {
    padding: 14px 28px;
    background-color: #35975E;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary-btn {
    padding: 14px 28px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    font-weight: 600;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-section {
    padding: 0px 120px;
    background-color: white;
}

.info-container {
    margin: auto;
    text-align: center;
}

.info-container h2 {
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: black;
    margin-bottom: 12px;
}

.info-container p {
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    color: gray;
    max-width: 700px;
    margin: auto;
}